<html>
<body style="background-image: url(&quot;https://drscdn.500px.org/photo/118454023/m%3D2048/024c4973c0640741bd6d8cc74ce1c113&quot;);">


<h1 style="color:white" >Social Todo App #2 for CPSC113</h1>

<h2 style="color:white">Welcome, {{ user.first_name }}</h2>
<div>
   <h4 style="color:white">Your Tasks</h4>

   <ul style="color:white">
     {% for tasks in context.tasks %}
      {% if tasks.isComplete %}
      <li  style="color:white" class="tasks-list-item complete-task">
         <span style="color:white" class="task-title"><b><strike>{{tasks.title}}</strike>   COMPLETE </b></span>
         <div>
           &emsp;
         <span style="color:white" class="task-desc">{{tasks.description}}</span>
         {% if tasks.owner == user %}
         <form method="post" action = "/tasks/removeTask/{{ tasks.id }}">
           {% csrf_token %}
            <input type="submit" name="delete-task" class="delete-task" value="Delete">
         </form>
         {% endif %}
         <form method="post" action = "/tasks/toggle/{{ tasks.id }}">
           {% csrf_token %}
            <input type="submit" name="toggle-task" class="toggle-task" value="Mark complete">
         </form>
      </li>
      {% else %}
      <li class="tasks-list-item">
         <span style="color:white" class="task-title"><b>{{tasks.title}}</b></span>
         <div>
           &emsp;
         <span style="color:white" class="task-desc">{{tasks.description}}</span>
         <form method="post" action = "/tasks/removeTask/{{ tasks.id }}">
           {% csrf_token %}
            <input type="submit" name="delete-task" class="delete-task" value="Delete">
         </form>
         <form method="post" action = "/tasks/toggle/{{ tasks.id }}">
           {% csrf_token %}
            <input type="submit" name="toggle-task" class="toggle-task" value="Mark complete">
         </form>
      </li>
      {% endif %}
      {% endfor %}
      {% for tasks in context.collabtasks %}
       {% if tasks.isComplete %}
       <li  style="color:white" class="tasks-list-item complete-task">
          <span style="color:white" class="task-title"><b><strike>{{tasks.title}}</strike>   COMPLETE </b></span>
          <div>
            &emsp;
          <span style="color:white" class="task-desc">{{tasks.description}}</span>
          {% if tasks.owner == user %}
          <form method="post" action = "/tasks/removeTask/{{ tasks.id }}">
            {% csrf_token %}
             <input type="submit" name="delete-task" class="delete-task" value="Delete">
          </form>
          {% endif %}
          <form method="post" action = "/tasks/toggle/{{ tasks.id }}">
            {% csrf_token %}
             <input type="submit" name="toggle-task" class="toggle-task" value="Mark complete">
          </form>
       </li>
       {% else %}
       <li class="tasks-list-item">
          <span style="color:white" class="task-title"><b>{{tasks.title}}</b></span>
          <div>
            &emsp;
          <span style="color:white" class="task-desc">{{tasks.description}}</span>
          <form method="post" action = "/tasks/removeTask/{{ tasks.id }}">
            {% csrf_token %}
             <input type="submit" name="delete-task" class="delete-task" value="Delete">
          </form>
          <form method="post" action = "/tasks/toggle/{{ tasks.id }}">
            {% csrf_token %}
             <input type="submit" name="toggle-task" class="toggle-task" value="Mark complete">
          </form>
       </li>
       {% endif %}
       {% endfor %}
   </ul>
   {% if not Task %}
   <b style="color:white"> No tasks to show! </b>
   {% endif %}
</div>
<hr>
<div>
   <h4 style="color:white">Add a New Task</h4>
   <form action="/tasks/addTask/" method="POST">
     {% csrf_token %}
      <label style="color:white" for="title">Task title</label>
      <input name="title" type="text"><br>
      <label style="color:white" for="description">Task Description</label>
      <input name="description" type="text"><br style="color:white">
      <b style="color:white">Collaborators</b><br>
      <input name="collaborator1" type="email"><br>
      <input name="collaborator2" type="email"><br>
      <input name="collaborator3" type="email"><br>
      <input type="submit" class="create-task-submit">
   </form>
</div>
<form method="post" action = "/logout_form/">
  {% csrf_token %}
   <input type="submit" name="logout" class="logout" value="Logout">
</form>
</body>
</html>
