<html>
<body style="background-image: url(&quot;http://p1.pichost.me/i/11/1339349.jpg&quot;);">

<h1 style="color:white">Social Todo!</h1>
<div>
  <h2 style="color:white">Login</h2>
   <form class="login-form" action="/login_form/" method="POST">
     {% csrf_token %}
      <label style="color:white" for="email">Email</label>
      <input name="email" type="text"><br>
      <label style="color:white" for="password">Password</label>
      <input name="password" type="text"><br>
      <input type="submit"  class="log-in-submit">
   </form>
</div>
<div>
   <hr>
</div>
<div>
  <h2 style="color:white">Register</h2>
   <form action="/register/" method="post" class="signup-form" style="display: block;">
     {% csrf_token %}
      <input name="fl_name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="password_confirmation" type="password" class="text-input" placeholder="password confirmation">
      <input class="sign-up-submit" type="submit">
   </form>
</div>
</body>
</html>
